<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ssdev="http://www.bsoft.com.cn/schema/ssdev"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.bsoft.com.cn/schema/ssdev
		http://www.bsoft.com.cn/schema/ssdev/ssdev.xsd">

    <ssdev:dao id="simpleDAO" class="com.bsoft.dao.SimpleDAO"/>
    <bean id="commonBean" class="com.bsoft.comm.CommonService">
    </bean>
    <bean id="devConfigBean" class="com.bsoft.quickdev.DevConfigService">
        <property name="simpleDAO" ref="simpleDAO"/>
    </bean>
    <ssdev:service id="common" ref="commonBean"/>
    <ssdev:service id="config" ref="devConfigBean" />


</beans>